@import "~styles/_variables";
@import "~styles/_mixins";

.wikipedia-section__ {
  &section {
    max-width: 55rem;
    padding: 0 1rem;
    padding-bottom: 3rem;
  }

  &div--item {
    border-top: 1px solid #0001;
    padding: 0.5rem 0rem;
    & a {
      text-decoration: underline;
    }
    & .wikipedia-section__p {
      margin-top: 0.5rem;
    }
  }
}

@include media-lg {
  .wikipedia-section__section {
    padding: 0;
    padding-bottom: 3rem;
  }
}
