@import "~styles/_variables";
@import "~styles/_config";

.wikipedia-section__section {
  max-width: 55rem;
  padding: 0 1rem;
  padding-bottom: 3rem;
}

.wikipedia-section__h2 {
}

.wikipedia-section__div--item {
  border-top: 1px solid #0001;
  padding: 0.5rem 0rem;
  & a {
    text-decoration: underline;
  }
  & .wikipedia-section__p {
    margin-top: 0.5rem;
  }
}

@include media-lg {
  .wikipedia-section__section {
    padding: 0;
    padding-bottom: 3rem;
  }
}
