@import "~styles/_variables";
@import "~styles/_config";

.sort-toys-button__ {
  &div--sort {
    position: relative;
  }
  &button {
    margin: 1rem auto;
    border-radius: 33px;
    min-width: 10rem;
    font-size: 1.15rem;
    background-color: #0000;
    color: $secondaryBlack;
    border: 1px solid $secondaryBlack;
    &:hover {
      background-color: #0001;
    }
  }
  &ul--sort {
    z-index: 100;
    display: block;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
    background-color: $mainFgColor;
    min-width: 15rem;
    width: fit-content;
    border-radius: 8px;
    border: 1px solid #0002;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    &.show {
      visibility: visible;
      opacity: 1;
    }
  }
  &item--sort {
    display: flex;
    align-items: center;
    background-color: #0000;
    min-height: 2.8rem;
    padding: 0.5rem 1rem;
    width: 100%;
    color: $secondaryBlack;
    text-align: left;
    border-bottom: 1px solid #0002;
    &:hover {
      background-color: #0001;
    }
  }
}

@include media-lg {
  .sort-toys-button__ {
    &div--sort {
    }
    &button {
      margin: 0;
    }
    &ul--sort {
      position: absolute;
      margin: 0;
      top: 3.25rem;
      transform: translateY(0%) translateX(-6rem);
    }
  }
  .sort-toys-button {
    &.backdrop {
      display: none;
    }
  }
}
