@import "~styles/_variables";
@import "~styles/_config";

#upload-toy-image__input {
  position: absolute;
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
}

#upload-toy-image__label {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  color: #0000;
  background-color: #0000;
}

#upload-toy-image__modal-form {
  padding: 1rem 0.5rem;
  padding-top: 4rem;
}

#upload-toy-image__modal-image {
  display: block;
  width: 80vw;
  height: 45vw;
  max-width: 32rem;
  max-height: 32rem;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #0003;
  box-shadow: 0 0 6px 2px #0001;
  object-fit: cover;
  object-position: 50% 0;
}

.upload-toy-image__p {
  margin: 1rem auto;
  width: 80vw;
  max-width: 32rem;
}

#create-toy-submit {
  margin: 0 auto;
  border-radius: 33px;
  padding: 0 2rem;
}

@media screen and (min-width: 768px) and (min-height: 600px) {
  #upload-toy-image__modal-form {
    padding: 1.5rem;
  }
}
