@import "~styles/_variables";
@import "~styles/_mixins";

#navmenu__ {
  &button--hamburger {
    width: 3rem;
    height: 3rem;
    border-radius: 3px;
    padding: 0;
    background-color: #0000;
    border: 2px solid $mainWhite;
    &:hover {
      background-color: #0002;
    }
  }
  &img--hamburger {
    position: relative;
    top: 0.125rem;
    filter: $whiteIconImageFilter;
  }
  &title-link {
    font-weight: 700;
    font-size: 1.35rem;
  }
}

.navmenu__ {
  &nav--outer {
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    height: 100vh;
    width: 18rem;
    background-color: $mainWhite;
    color: $mainBlack;
    top: 0;
    right: 0;
    border-left: #0002;
    animation: 0.3s ease-out forwards navbar-hide;
    transform: translateX(17rem);
    &.show {
      animation: 0.3s ease-out forwards navbar-show;
    }
  }
  &items {
    width: 100%;
    padding: 0;
  }

  &div--title-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 1rem;
    border-bottom: 1px solid #0001;
  }

  &item {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 3rem;
    line-height: 3rem;
    padding-left: 1rem;
    font-size: 1.15rem;
    border-bottom: 1px solid #0001;
    background-color: #0000;
    color: $secondaryBlack;
    &:hover {
      background-color: #0001;
    }
  }
  &img--item {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    filter: $blackIconImageFilterLight;
    margin-right: 0.8rem;
    &button__icon {
      margin-left: 0.8rem;
      filter: $whiteIconImageFilter;
      width: 0.7rem;
      height: 0.7rem;
    }
  }
}

.close-icon-img.navmenu__close {
  filter: $blackIconImageFilter;
}

@include media-md {
  #navmenu__button--hamburger,
  .navmenu__div--title-close {
    display: none;
  }

  .navmenu__nav--outer,
  .navmenu__nav--outer.show {
    z-index: 20;
    display: block;
    position: relative;
    visibility: visible;
    opacity: 1;
    width: fit-content;
    height: 3.75rem;
    background-color: #0000;
    color: $mainWhite;
    border-left: none;
    transform: translateX(0);
    transition: none;
    animation: none;
  }

  .navmenu__ {
    &items {
      display: flex;
      justify-content: flex-end;
      margin-top: 0;
      width: 100%;
      padding: 0;
      height: 3.75rem;
    }
    &item {
      padding: 0 1.9rem;
      margin: 0 0.1rem;
      width: fit-content;
      height: 3.75rem;
      line-height: 3.75rem;
      border-bottom: none;
      color: $mainWhite;
      &.active {
        border-left: none;
        border-bottom: 3px solid $mainWhite;
      }
    }
    &img--item {
      display: none;

      &button__icon {
        position: relative;
        top: 0.2rem;
        bottom: 0;
        display: block;
      }
    }
    &div--title-close {
      border-bottom: none;
    }
  }
}

@keyframes navbar-show {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(17rem);
  }
  1% {
    visibility: visible;
    opacity: 0;
    transform: translateX(17rem);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes navbar-hide {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
  99% {
    visibility: visible;
    opacity: 0;
    transform: translateX(17rem);
  }
  100% {
    visibility: visible;
    opacity: 0;
    transform: translateX(17rem);
  }
}
