@import "~styles/_variables.scss";

.close-button__button {
  width: 3rem;
  height: 3rem;
  background-color: #0000;
  &:hover {
    background-color: #0002;
  }
}

.close-button__img {
  background-color: #0000;
  width: 1.25rem;
  height: 1.25rem;
  filter: $blackIconImageFilter;
  &:hover {
    filter: $blackIconImageFilterLight;
  }
}

.modal__div--header.modal-header__div--content > .close-button__button {
  position: relative;
  left: 0.7rem;
}

.close-button__div.hide-on-mobile {
  display: none;
}

@media screen and (min-width: 768px) {
  .close-button__div {
    &.hide-on-mobile {
      display: block;
    }
    &.hide-on-desktop {
      display: none;
    }
  }
}
