@import "~styles/_variables";
@import "~styles/_mixins";

.close-button__ {
  &button {
    width: 3rem;
    height: 3rem;
    background-color: #0000;
    &:hover {
      background-color: #0002;
    }
  }
  &img {
    background-color: #0000;
    width: 1.25rem;
    height: 1.25rem;
    filter: $blackIconImageFilter;
    &:hover {
      filter: $blackIconImageFilterLight;
    }
  }

  &div.hide-on-mobile {
    display: none;
  }
}

.modal__div--header.modal-header__div--content > .close-button__button {
  position: relative;
  left: 0.7rem;
}

@include media-md {
  .close-button__div {
    &.hide-on-mobile {
      display: block;
    }
    &.hide-on-desktop {
      display: none;
    }
  }
}
