@import "~styles/_variables";
@import "~styles/_mixins";

.profile-picture__ {
  &div {
    display: block;
    padding: 0;
    border-radius: 50%;
    height: $profilePictureSize;
    width: $profilePictureSize;
    &.navmenu {
      height: 3.75rem;
      padding: 0.625rem;
      width: fit-content;
    }
  }
  &img {
    padding: 0;
    border-radius: 50%;
    height: $profilePictureSize;
    width: $profilePictureSize;
    &:hover {
      cursor: pointer;
    }
    &.active {
      border: solid 1px #0004;
    }
  }
}
