@import "~styles/_variables.scss";

.profile-picture__div {
  display: block;
  padding: 0;
  border-radius: 50%;
  height: $profilePictureSize;
  width: $profilePictureSize;
  &.navmenu {
    height: 3.75rem;
    padding: 0.625rem;
    width: fit-content;
  }
}

.profile-picture__img {
  padding: 0;
  border-radius: 50%;
  height: $profilePictureSize;
  width: $profilePictureSize;
  &:hover {
    cursor: pointer;
  }
  &.active {
    border: solid 1px #0004;
  }
}
